@{
    Layout = null;
    var seriesTitle = "The Absolute Sandman, Vol. 1 ";
    var issueNumber = 1;
    var description = @" <p>Reprinting Sandman issues #1-20. With more than 65 pages of bonus material, 
                        including the original proposal for the series and the full script and pencil
                        art for issue 19. <strong>Released October 11, 2006.</strong> ";
    var artists = new string[]
    {
        "by Neil Gaiman",
        "Sam Kieth (Illustrator)",
       " Mike Dringenberg (Illustrator)",
        "Charles Vess (Illustrator)",
        "Michael Zulli (Illustrator)",
       " Kelley Jones (Illustrator)",
        "Chris Bachalo (Illustrator)",
       " Malcolm Jones (Illustrator)",
       " Danny Vozzo (Illustrator)",
        "Colleen Doran (Illustrator)"

    };
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <h1>@seriesTitle</h1>
        <h2>Issue #@issueNumber</h2>
        <h3>@artists</h3>
        <h5>Description:</h5>
        <div>@Html.Raw(description)</div>
    </div>
</body>
</html>
