@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Comic book detail";

}

<h1>@ViewBag.SeriesTitle</h1>
<h2>Issue #@ViewBag.IssueNumber</h2>
@if (ViewBag.Artists.Length > 0)
{
    <h3>Artists</h3>
            <div>
                <ul>
                    @foreach (var artist in ViewBag.Artists)
                    {
                        <li> * @artist</li>
                    }
                </ul>
            </div>
}
<h5>Description:</h5>
<div>@Html.Raw(ViewBag.description)</div>

